<% var external_link = config.external_link ? '_blank' : '_self'; %>
<% if (post.title ){ %>
<article class="post">
    <% if (post.photos && post.photos.length){ %>
    <div class="post-cover">
        <div class="post-meta">
            <a href="<%= post.authorLink %>" target="<%= external_link %>">
                <strong><%= post.author %></strong>
            </a><%= date(post.date, 'YY/MM/DD') %> 周<%= date(post.date, 'dd') %>
        </div>
        <a href="<%- url_for(post.path) %>" target="<%= external_link %>" title="<%= post.title %>">
            <img src="/blog/<%= post.photos[0] %>" />
        </a>
    </div>
    <% } %>
    <div class="post-header">
        <a class="post-title" href="<%- url_for(post.path) %>" target="<%= external_link %>" title="<%= post.title %>"><%= post.title %></a>
        <% if(post.tags && post.tags.length){ %>
        <div class="post-meta">
            <a href="/tags" target="<%= external_link %>"><i class="fa fa-tags"></i></a>
            <% post.tags.each((tag)=>{ %>
                <em>·</em>
                <a href="<%= tag.permalink %>" target="<%= external_link %>"><%= tag.name %></a>
            <% }) %>
        </div>
        <% } %> 
    </div>
    <div class="post-desc">
        <%= post.description || post.title %>
    </div>
</article>
<% } %> 


